{# templates/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue sur ma seconde page avec OpenClassrooms !</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Bye World !</h1>
  <p>
    Le Bye World n'est pas classique en programmation.
    Il signifie simplement, car cela veut dire que vous avez
    réussi à exécuter le programme pour accomplir une seconde tâche simple :
    afficher ce Bye world !
  </p>
</body>
</html>